<table class="table table-condensed table-striped table-bordered">
<%= form_for @family_member do |f| %>
  <tr>
    <td>
      <%= f.text_field :first_name, :class => "span3" %>
    </td>
    <td>
      <%= f.text_field :last_name, :class => "span3" %>
    </td>
    <td>
      <%= f.select :relationship, ["Spouse","Child"], :class => "span1" %>
    </td>
    <td>
      <%= f.date_select :birthday %>
      <%= f.hidden_field :employee_id, :value => params[:employee_id] %>
    </td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
<% end %>
</table>
