  <div class="row">
    <div class="span6">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <%= f.label :address1 %><br />
      <%= f.text_field :address1 %>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <%= f.label :address2 %><br />
      <%= f.text_field :address2 %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="span2">
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    </div>
    <div class="span2">
      <%= f.label :zip %><br />
      <%= f.text_field :zip %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <%= f.submit %>
    </div>
  </div>
