  <div class="row">
    <div class="span4">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="span4">
      <%= f.label :middle_name %><br />
      <%= f.text_field :middle_name %>
    </div>
    <div class="span4">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <%= f.label :location_id %><br />
      <%= f.collection_select :location_id, Location.all, :id, :name, :prompt => true %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= f.label :home_num %>
    </div>
    <div class="span3">
      <%= f.text_field :home_num %>
    </div>
    <div class="span3">
      <%= f.label :mobile_num %>
    </div>
    <div class="span3">
      <%= f.text_field :mobile_num %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= f.label :birthday  %>
    </div>
    <div class="span3">
      <%= f.text_field :birthday  %>
    </div>
    <div class="span3">
      <%= f.label :hire_date  %>
    </div>
    <div class="span3">
      <%= f.text_field :hire_date  %>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <%= f.label :address1 %><br />
      <%= f.text_field :address1 %>
    </div>
    <div class="span6">
      <%= f.label :address2 %><br />
      <%= f.text_field :address2 %>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    </div>
    <div class="span2">
      <%= f.label :zip %><br />
      <%= f.text_field :zip %>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </span>
  </div>
  <div class="row">
    <div class="span4">
      <%= f.submit %>
    </div>
  </div>
