<div class="row-fluid show">
  <div class="span3">
    <%= image_tag @employee .photo.url %>
    <div class="row-fluid">
      <div class="span12 namebadge">
        <h5><%= @employee.name %></h5>
        <%= @employee.job_title %><br />
        <%= link_to "Edit", :action => :edit, :id => @employee.id %>
        |
        <%= link_to "Delete", @employee, :method => :delete, :confirm => "Really?",
                                                                     :title => "Delete #{@employee.name}" %>
      </div>
    </div>
  </div>
  <div class="span9">
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <th>
          Address
        </th>
        <td>
          <strong><%= @employee.name %></strong><br />
          <%= @employee.address1 + "\n" + @employee.address2 %><br />
          <%= @employee.city + ", " + @employee.state + " " + @employee.zip %>
        </td>
      </tr>
      <% unless @employee.email.blank? %>
        <tr>
          <th>
            Email
          </th>
          <td>
            <%= mail_to @employee.email %>
          </td>
        </tr>
      <% end %>
      <% unless @employee.home_num.blank? %>
        <tr>
          <th>
            Home Phone
          </th>
          <td>
            <%= @employee.home_num %>
          </td>
        </tr>
      <% end %>
      <% unless @employee.mobile_num.blank? %>
        <tr>
          <th>
            Mobile Phone
          </th>
          <td>
            <%= @employee.mobile_num %>
          </td>
        </tr>
      <% end %>
      <% unless @employee.extension.blank? %>
        <tr>
          <th>
            Extension
          </th>
          <td>
            <%= @employee.extension %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>
          Birthday
        </th>
        <td>
          <%= @employee.birthday %> (<%= @employee.age %> years old)
        </td>
      </tr>
      <tr>
        <th>
          Hire Date
        </th>
        <td>
          <%= @employee.hire_date %> (<%= @employee.service_time %> years of service)
        </td>
      </tr>
    </table>
    <h2>Family Members</h2>
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <th>
          Name
        </th>
        <th>
          Relationship
        </th>
        <th>
          Age
        </th>
        <th>
          Birthday
        </th>
        <th>
          Actions
        </th>
      </thead>
      <% @family_members.each do |family_member| %>
        <tr>
          <td>
            <%= family_member.name %>
          </td>
          <td>
            <%= family_member.relationship %>
          </td>
          <td>
            <% if family_member.relationship == "Son" || 
              family_member.relationship == "Daughter" %>
              <%= family_member.age %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
          <td>
            <%= family_member.birthday %>
          </td>
          <td>
            <%= link_to "Edit", :controller => :family_members, :action => :edit, :id => family_member.id, 
              :location_id => @employee.location_id, :employee_id => family_member.employee_id %> |
              <%= link_to "Delete", family_member, :controller => :family_members, :method => :delete,
                          :confirm => "Really delete #{family_member.name}?", :title => "You sure?" %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <%= link_to "Add New Family Member", :controller => :family_members,
            :action => :new, :employee_id => @employee.id, 
            :last_name => @employee.last_name, :location_id => @employee.location_id %>
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
