<!DOCTYPE html>
<html>
<head>
  <title>Gresco Directory | <%= @title %></title>
  <%= wicked_pdf_stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="on-paper">
  <% i = 0 %>
  <% p = 0 %>
  <% @employees.each do |employee| %>
    <% if i % 6 == 0 %>
      <div class="pdf-page">
        <table class="pdf-page">
        <% p += 1 %><% end %>
      <% if i % 3 == 0 %><tr class="pdf-row"><% end %>
        <td style="width:33%">
          <table class="page-layout">
            <tr>
              <td class="photo-row">
                <%= wicked_pdf_image_tag employee .photo.url %>
              </td>
            </tr>
            <tr>
              <td class="info-row">
                <div>
                  <strong><%= employee.name %></strong>
                </div>
                <div class="left-info">
                  <%= employee.job_title %>-<%= employee.location.name %><br />
                  <%= employee.city %>, <%= employee.state %>
                </div>
                <div class="right-info">
                  <strong>DOB:</strong> <%= employee.birthday %><br />
                  <strong>Hired:</strong> <%= employee.hire_date %>
                </div>
                <% unless employee.family_members.empty? %>
                  <table class="table table-striped table-condensed table-bordered family-list">
                    <tr>
                      <th>
                        Relation
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        DOB
                      </th>
                    </tr>
                    <% employee.spouse.each do |spouse| %>
                      <tr>
                        <td>
                          <%= spouse.relationship %>
                        </td>
                        <td>
                          <%= spouse.name %>
                        </td>
                        <td>
                          <%= strip_year(spouse.birthday) %>
                        </td>
                      </tr>
                    <% end %>
                    <% employee.children.limit(12).each do |child| %>
                      <tr>
                        <td>
                          <%= child.relationship %>
                        </td>
                        <td>
                          <%= child.name %>
                        </td>
                        <td>
                          <%= child.birthday %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                <% end %>
              </td>
            </tr>
          </table>
        </td>
        <% i += 1 %>
      <% if i % 3 == 0  %></tr><% end %>
    <% if i % 6 == 0 %></table>
  </div>
   <% end %>
  <% end %>
  <% if i % 6 != 0 %>
    <% until i % 6 == 0 do %>
        <% if i % 3 == 0 %><tr><% end %>
          <td>
            &nbsp;
          </td>
          <% i += 1 %>
        <% if i % 3 == 0 %></tr><% end %>
      <% if i % 6 == 0 %></table>
    </div><% end %>
    <% end %>
  <% end %>
</div>
</body>
</html>
