<!DOCTYPE html>
<html>
<head>
  <title>Gresco Directory | <%= @title %></title>
  <%= wicked_pdf_stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% i = 0 %>
  <% p = 1 %>
  <% @employees.each do |employee| %>
    <% if i == 0 || ((p * 6) / i) == 1 %><table style="width:100%"><% if  i != 0 %><% p += 1 %><% end %><% end %>
      <% if i % 3 == 0 %><tr style="height:20px"><% end %>
        <td style="width:33%; height:50%; page-break-inside:avoid">
          <%= wicked_pdf_image_tag employee .photo.url(:thumb) %>
          <table class="table table-striped table-condensed table-bordered">
            <tr>
              <th style="width:50%">
                Name
              </th>
              <td>
                <%= employee.name %>
              </td>
            </tr>
            <tr>
              <th>
                id
              </th>
              <td>
                <%= i %>
              </td>
            </tr>
            <tr>
              <th>
                page
              </th>
              <td>
                <%= p %>
              </td>
            </tr>

          </table>
        </td>
        <% i += 1 %>
      <% if i % 3 == 0  %></tr><% end %>
    <% if ((p * 6) / i) == 1 %></table><% end %>
  <% end %>
</body>
</html>
