<!DOCTYPE html>
<html>
<head>
  <title>Gresco Directory | <%= @title %></title>
  <%= wicked_pdf_stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% i = 0 %>
  <% p = 0 %>
  <% @employees.each do |employee| %>
    <% if i % 6 == 0 %>
      <div class="pdf-page">
        <table class="pdf-page">
        <% p += 1 %><% end %>
      <% if i % 3 == 0 %><tr><% end %>
        <td style="width:33%">
          <table class="page-layout">
            <tr>
              <td>
                <%= wicked_pdf_image_tag employee .photo.url %>
              </td>
            </tr>
            <tr>
              <td>
                <table class="table table-striped table-condensed table-bordered">
                  <tr>
                    <th>
                      Name
                    </th>
                    <td>
                      <%= employee.name %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      id
                    </th>
                    <td>
                      <%= i %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      page
                    </th>
                    <td>
                      <%= p %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <% i += 1 %>
      <% if i % 3 == 0  %></tr><% end %>
    <% if i % 6 == 0 %></table>
  </div>
   <% end %>
  <% end %>
  <% if i % 6 != 0 %>
    <% until i % 6 == 0 do %>
        <% if i % 3 == 0 %><tr><% end %>
          <td>
            &nbsp;
          </td>
          <% i += 1 %>
        <% if i % 3 == 0 %></tr><% end %>
      <% if i % 6 == 0 %></table>
    </div><% end %>
    <% end %>
  <% end %>
</div>
</body>
</html>
