
<div class="row">
  <div class="span10">
    <table class="table table-striped">
      <tr>
        <th>
          &nbsp;
        </th>
        <th>
          Employee
        </th>
        <th>
          Address
        </th>
        <th>
          Home Phone
        </th>
        <th>
          Mobile Phone
        </th>
        <th>
          Birthday
        </th>
        <th>
          Hire Date
        </th>
      </tr>
      <% @employees.each do |employee| %>
        <tr>
          <td>
            <%= link_to image_tag(employee .photo.url(:thumb)), :controller => :employees, 
                                                                :action => :show, :id => employee.id %>
          </td>
          <td>
            <%= link_to employee.name, :controller => :employees, :action => :show, :id => employee.id %>
          </td>
          <td>
            <%= employee.address1 + "\n" + employee.address2 %><br />
            <%= employee.city + ", " + employee.state + " " + employee.zip %>
          </td>
          <td>
            <%= employee.home_num %>
          </td>
          <td>
            <%= employee.mobile_num %>
          </td>
          <td>
            <%= employee.birthday %>
          </td>
          <td>
            <%= employee.hire_date %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <%= link_to "Add New Employee", :controller => :employees, :action => :new %>
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>
