<!DOCTYPE html>
<html>
<head>
  <title>Gresco Directory | <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="pageheader">
      <h1><%= @title %></h1>
    </div>

    <%= yield %>

  </div>

</body>
</html>
