<!DOCTYPE html>
<html>
<head>
  <title>Gresco Directory | <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:50px">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Gresco Directory", root_path, :class => "brand" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span2">
        <ul class="nav nav-pills nav-stacked">
          <li<% if @nav_id == "all" %> class="active"<% end %>>
            <%= link_to "All Employees", root_path %>
          </li>
          <% Location.all.each do |location| %>
            <li<% if @nav_id == location.id %> class="active"<% end %>>
              <%= link_to location.name, :controller => :locations, :action => :show, :id => location %>
            </li>
          <% end %>
          <li class="divider">&nbsp;</li>
          <li<% if @nav_id == "admin" %> class="active"<% end %>><%= link_to "Admin", locations_path %></li>
        </ul>
      </div>
      <div class="span10">

        <section class="round">
          <% flash.each do |key, value| %>
            <%= content_tag( :div, value, :class => "flash #{key}") %>
          <% end %>
        </section>

        <%= yield %>

      </div>
    </div>
  </div>

</body>
</html>
